[toolchain]
anchor_version = "0.32.1"
solana_version = "2.0.20"

[features]
resolution = true
skip-lint = false

[programs.devnet]
funding_rate = "KNFMTjh5SgpfbsddFDNKao4FGwwr13DhWBDHXmuE7h2"

[programs.localnet]
funding_rate = "KNFMTjh5SgpfbsddFDNKao4FGwwr13DhWBDHXmuE7h2"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 10000

